<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Cognex.VisionPro.Core" publicKeyToken="ef0f902af9dee505" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-61.1.0.0" newVersion="61.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cognex.VisionPro" publicKeyToken="ef0f902af9dee505" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-61.1.0.0" newVersion="61.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Cognex.VisionPro.Controls" publicKeyToken="ef0f902af9dee505" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-61.1.0.0" newVersion="61.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>